<nav class="nav">
    <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
        <span class="nav-ico">🏠</span>
        <span>Home</span>
    </NavLink>

    <NavLink class="nav-item" href="/today">
        <span class="nav-ico">🗓️</span>
        <span>Today</span>
    </NavLink>

    <NavLink class="nav-item" href="/journal">
        <span class="nav-ico">📓</span>
        <span>Journal</span>
    </NavLink>

    <NavLink class="nav-item" href="/analytics">
        <span class="nav-ico">📈</span>
        <span>Analytics</span>
    </NavLink>

    <NavLink class="nav-item" href="/settings">
        <span class="nav-ico">⚙️</span>
        <span>Settings</span>
    </NavLink>
</nav>