html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar,
.top-row,
.sidebar,
.main,
.content,
.page {
    all: unset;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

/* GLOBAL fix for ALL date inputs */
input[type="date"] {
    max-width: 100%;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 36px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}
