html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar,
.top-row,
.sidebar,
.main,
.content,
.page {
    all: unset;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.hidden {
    display: none !important;
}
